img{
    width: 100% ;
    height: 100%;
}
.row{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.duble{
    height: 50%;
}
.row>div{
    flex: 1;
    height: calc(100%-5px);
}
.box-colum{
   display: grid; 
   grid-template-columns: repeat(2 ,1fr);
   gap: 10px;
}
@media screen and (max-width : 576px ) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .box-colum{
        flex-direction: column;
    }
}